{% extends base_view %}

{% block title %}
  {% trans %}user.show.title{% endtrans %}
{% endblock %}

{% block body %}
    <h1>{% trans %}user.show.title{% endtrans %}</h1>

    <table class="table table-responsive table-condensed">
        <tbody>
            <tr>
                <th>{% trans %}user.entity.id{% endtrans %}</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}user.entity.username{% endtrans %}</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>{% trans %}user.entity.email{% endtrans %}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{% trans %}user.entity.is_active{% endtrans %}</th>
                <td>{% if user.isActive %}{% trans %}user.yes{% endtrans %}{% else %}{% trans %}user.no{% endtrans %}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}user.entity.disabled_at{% endtrans %}</th>
                <td>{% if user.disabledAt %}{{ user.disabledAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}user.entity.expired{% endtrans %}</th>
                <td>{% if user.isExpired %}{% trans %}user.yes{% endtrans %}{% else %}{% trans %}user.no{% endtrans %}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}user.entity.expired_at{% endtrans %}</th>
                <td>{% if user.expiredAt %}{{ user.expiredAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}user.entity.locked{% endtrans %}</th>
                <td>{% if user.isLocked %}{% trans %}user.yes{% endtrans %}{% else %}{% trans %}user.no{% endtrans %}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}user.entity.locked_at{% endtrans %}</th>
                <td>{% if user.lockedAt %}{{ user.lockedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}user.entity.is_credentials_expired{% endtrans %}</th>
                <td>{% if user.isCredentialsExpired %}{% trans %}user.yes{% endtrans %}{% else %}{% trans %}user.no{% endtrans %}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}user.entity.credentials_expired_at{% endtrans %}</th>
                <td>{% if user.credentialsExpiredAt %}{{ user.credentialsExpiredAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}user.entity.last_login_at{% endtrans %}</th>
                <td>{% if user.lastLoginAt %}{{ user.lastLoginAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}user.entity.registered_at{% endtrans %}</th>
                <td>{% if user.registeredAt %}{{ user.registeredAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}user.entity.updated_at{% endtrans %}</th>
                <td>{% if user.updatedAt %}{{ user.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}user.entity.login_attempts{% endtrans %}</th>
                <td>{{ user.loginAttempts }}</td>
            </tr>
            <tr>
                <th>{% trans %}user.entity.last_login_attempt{% endtrans %}</th>
                <td>{% if user.lastLoginAttempt %}{{ user.lastLoginAttempt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('b4rb4ross4_user_list') }}" class="btn btn-default">{% trans %}user.action.back_to_list{% endtrans %}</a>
        <a href="{{ path('b4rb4ross4_user_edit', { 'id': user.id }) }}" class="btn btn-default">{% trans %}user.action.edit{% endtrans %}</a>
    {% endif %}

{% endblock %}
